<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Smart India Hackathon </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
  <div class="container">

    <div class="sidebar">
      <div class="heading">

        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
            <circle cx="20" cy="20.5" r="20" fill="#191D88" />
          </svg>
        </div>

        <div class="text" >
          <p class="companyName"> {{request.user.first_name}} - {{request.user.last_name}} </p>
          <p class="companyId" > {{request.user}} </p>
          <a href="/logout" > Logout </a>
        </div>

      </div>

      <div class="newChat">
        <img src="{% static 'assets/Add-Icon.png' %}" alt="">
        <p> Start a new chat </p>
      </div>

      <div class="button-section">
        <div class="btn item-1">
          <img src="{% static 'assets/button-section.png' %}" alt="">
        </div>
        <div class="btn item-2">
          <img src="{% static 'assets/button-section.png' %}" alt="">
        </div>
        <div class="btn item-3">
          <img src="{% static 'assets/button-section.png' %}" alt="">
        </div>
        <div class="btn item-4">
          <img src="{% static 'assets/button-section.png' %}" alt="">
        </div>
        <div class="btn item-5">
          <img src="{% static 'assets/button-section.png' %}" alt="">
        </div>
        <div class="btn item-6">
          <img src="{% static 'assets/button-section.png' %}" alt="">
        </div>
      </div>

    </div>

    <div class="chat-container">

      <div class="cc-Heading">
        <div class="image">
          <img src="{% static 'assets/welcome-image.png' %}" alt="">
        </div>

        <div class="cc-text">
          <p> Welcome to </p>
          <div> Intranet Chatbot </div>

        </div>

      </div>

      <div class="functionallity">

        <div class="f-item">
          <div class="figure">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path
                d="M12.2206 15.2118L12.2189 15.2147C11.9317 15.6723 11.6964 16.1214 11.5152 16.5618C10.9694 15.229 9.93046 13.8205 8.3623 12.6441C7.70933 12.1516 7.03757 11.7589 6.35552 11.4783C8.01601 10.8088 9.55307 9.60074 10.6106 8.06691C10.9825 7.52959 11.2853 6.9878 11.5128 6.43246C12.1337 7.95297 13.3483 9.4305 14.8407 10.4867C15.4219 10.9001 16.024 11.2367 16.6432 11.4878C14.9048 12.2234 13.1775 13.7018 12.2206 15.2118Z"
                stroke="#191D88" stroke-width="1.5" />
              <path
                d="M4.80682 6.44722L4.80682 6.44722L4.80563 6.4491C4.69179 6.63054 4.59247 6.81014 4.50835 6.9878C4.18992 6.31467 3.6472 5.62355 2.86827 5.03922C2.57595 4.81875 2.27581 4.63411 1.97037 4.48956C2.8029 4.10916 3.56382 3.484 4.10019 2.70606C4.25883 2.47687 4.39499 2.24545 4.50676 2.00949C4.86867 2.77499 5.49325 3.50201 6.24322 4.03278C6.4987 4.21452 6.76218 4.36956 7.03252 4.4952C6.14656 4.92226 5.29499 5.67683 4.80682 6.44722Z"
                stroke="#191D88" />
            </svg>
          </div>
          <div class="title"> Clear and precise </div>
          <div class="description"> Pariatur sint laborum cillum aute consectetur irure. </div>
        </div>

        <div class="f-item">
          <div class="figure">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <g clip-path="url(#clip0_29_256)">
                <path
                  d="M9.99994 7.5C8.15827 7.5 7.49994 8.15833 7.49994 10C7.49994 11.8417 8.15819 12.5 9.99986 12.5C11.8415 12.5 12.4999 11.8417 12.4999 10C12.4999 8.15833 11.8416 7.5 9.99994 7.5ZM17.4499 9.16666C17.0665 5.69166 14.3082 2.93333 10.8332 2.55V0.833328H9.16652V2.55C5.69152 2.93333 2.93319 5.69166 2.54986 9.16666H0.833191V10.8333H2.54986C2.93319 14.3083 5.69152 17.0667 9.16652 17.45V19.1667H10.8332V17.45C14.3082 17.0667 17.0665 14.3083 17.4499 10.8333H19.1665V9.16666H17.4499ZM9.99986 15.8333C6.77486 15.8333 4.16652 13.225 4.16652 10C4.16652 6.775 6.77486 4.16666 9.99986 4.16666C13.2249 4.16666 15.8332 6.775 15.8332 10C15.8332 13.225 13.2249 15.8333 9.99986 15.8333Z"
                  fill="#191D99" />
              </g>
              <defs>
                <clipPath id="clip0_29_256">
                  <rect width="20" height="20" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="title"> Personalized answers </div>
          <div class="description"> Pariatur sint laborum cillum aute consectetur irure. </div>
        </div>

        <div class="f-item">
          <div class="figure">
            <img src="{% static 'assets/cloud-offline-functionallity.png' %}" alt="">
          </div>
          <div class="title"> Works Offline </div>
          <div class="description"> Pariatur sint laborum cillum aute consectetur irure. </div>
        </div>

      </div>

      <div class="textarea-section">
        <input type="text" class="textbox" placeholder="Example : “Summarise this Paper for me ”">
        <button class="icon-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
            fill="none">
            <g clip-path="url(#clip0_29_242)">
              <path
                d="M3.16667 17.0707L17.7083 10.8374C18.3833 10.5457 18.3833 9.59573 17.7083 9.30407L3.16667 3.07073C2.61667 2.82907 2.00833 3.2374 2.00833 3.82907L2 7.67073C2 8.0874 2.30833 8.44573 2.725 8.49573L14.5 10.0707L2.725 11.6374C2.30833 11.6957 2 12.0541 2 12.4707L2.00833 16.3124C2.00833 16.9041 2.61667 17.3124 3.16667 17.0707Z"
                fill="#E5E5E5" />
            </g>
            <defs>
              <clipPath id="clip0_29_242">
                <rect width="20" height="20" fill="white" />
              </clipPath>
            </defs>
          </svg></button>
      </div>
    </div>
  </div>
</body>

</html>